@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Single+Day&display=swap');

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h3 {
  font-family: "Single Day", cursive;
  font-size: 2.5rem;
  color: #72DB73;
  margin: 0px;
}

h4 {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0px;
  color: white;
}

input {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  letter-spacing: 0.5px;
}