.container {
    container-type: inline-size;
    display: flex;
    height: 100%;
    width: 100%;
    background: #5746EA;
    padding: 10px;
    /* Reduced padding */
    box-sizing: border-box;
    border-radius: 20px;
}

.avatar {
    height: 100%;
    width: 30%;
}

.avatar img {
    height: 100%;
    object-fit: cover;
}

.profile {
    display: flex;
    flex-direction: column;
    flex: 1;
    /* background-color: yellow; */
    padding: 25px 0px;
    justify-content: space-around;
}



.name,
.email {
    font-size: 24px;
}

.username {
    font-size: 32px;
    font-weight: bold;
}

.selectedGenres {
    margin-top: 20px;
    max-width: 80%;
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}

.genre {
    background: #9F94FF;
    padding: 4px 20px;
    /* Reduced padding */
    border-radius: 50px;
    font-size: 0.9rem;
}