.container {
    display: flex;
    height: 100vh;
    flex-direction: column;
    width: 100%;
    padding: 0px 20%;
    box-sizing: border-box;
    justify-content: space-evenly;
}

.header {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    margin-top: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.inputWrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 40px;
}

.form input {
    padding: 12px 15px;
    border: none;
    background: #292929;
    color: lightgray;
    border-radius: 3px;
    outline: none;
    width: 100%;
    box-sizing: border-box;
}

.form button {
    padding: 10px;
    border: none;
    background: #72DB73;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    outline: none;
}

.footer span {
    color: #72DB73;
    cursor: pointer;
}

.errorInput {
    border: 2px solid red !important;
}

.errorText {
    color: red;
    font-size: 12px;
    position: absolute;
    bottom: -20px;
    left: 2px;
}

.checkboxWrapper {
    position: relative;
}

.checkboxLabel {
    display: flex;
    align-items: center;
}

.checkboxLabel input[type="checkbox"] {
    margin: 0;
    margin-right: 10px;
    width: auto;
}

.checkboxWrapper .errorText {
    position: static;
    margin-top: 5px;
    margin-left: 0;
    /* Removed the left margin */
}