.container {
    background: #1E2343;

    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    height: 100%;
    width: 100%;
    gap: 10px;
}

.progress {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 230px;
    width: 230px;
    background: #191E39;
    border-radius: 50%;
    box-shadow: 0px 6px 26px 0px #0000009C inset;
    box-shadow: -3px -7px 16px 0px #5F58583B;
}

.configure {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-around;
    gap: 10px;
    height: 100%;
    width: 100%;
    padding: 20px;
}

.timeUnits {
    display: flex;
    flex-direction: row;
    gap: 10px;

}

.timeUnit {
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: center;
}

.timeUnit p {
    font-size: 1.5rem;
}

.timeUnit span {
    font-size: 3rem;
}

.timeUnit i {
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    color: white;
    /* Ensure button text is visible */
}



.timerWrapper {
    margin: 20px 0;
}

.startStopButton {
    all: unset;
    padding: 5px 10px;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
    color: white;
    background: #FF6A6A;
    border-radius: 50px;
}