.container {
    height: 100%;
    width: 100%;
    border-radius: 15px;
    overflow: hidden;
    font-family: Arial, sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: #FF4ADE;
}

.date,
.time {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
}

.weather {
    display: flex;
    flex: 1;
    background: #101744;
    align-items: center;
}

.column {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    height: 70%;
    padding: 15px 10px;
}

.column:not(:last-child) {
    border-right: 2px solid rgba(255, 255, 255, 0.3);
}

.column i {
    font-size: 2.5rem;
}

.temperature {
    font-size: 2.5rem;
    font-weight: bold;
}

.infoItem {
    display: flex;
    align-items: center;
    font-size: 0.9rem;
}

.infoItem i {
    font-size: 1.2rem;
    margin-right: 5px;
}

.infoItem span {
    text-align: left;
}